<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CATI</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/verUsuario">Ver Usuario</a></li>
                        <li><a href="/verAdmin">Ver Admin</a></li>
                        <li><a href="/crearUsuario">Crear Usuario</a></li>
                        <li><a href="/logAdmin">Login Admin</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/crearProyecto">Crear Proyecto</a></li>
                        <li><a href="/verProyecto">Ver Proyecto</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="/logout"><b>Logout</b></a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido <%=user.username%>! <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/subirDatos">Subir Datos</a></li>
                        <li><a href="/llamar">Llamar</a></li>
                        <li><a href="/crearAdmin">Crear Admin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1><%= title %></h1>

<form class="form-horizontal" action="/api/proyectos/<%=id%>" method="POST" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Proyecto">
                <input type="hidden" name="_method" value="PUT"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>




</body>
</html>